doctype html
html
    head
        title Panel de Administración - Sistema de Reservas
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css")
    style. 
        body { 
            background-color: #b9cdc7; 
            font-family: Arial; 
            color: #000000; 
            width:90%;
            margin:auto; 
        } 
        header { 
            background-color: #9b4dca;
            color: white; 
            padding: 20px; 
            text-align: center; 
        } 
        h1 { 
            font-size: 3rem; 
            color: #333; 
            text-align: center; 
            padding: 20px; 
        }
    body 
        header
            include partials/_nav   
        h1 Restaurante "Don Mario"
            